[user]
	name = nnsnico
	email = yuji.jampan.blue@gmail.com

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false

[pull]
	rebase = false

[merge]
	tool = vimdiff
	conflictstyle = diff3

[diff]
	colorMoved = default

[mergetool]
	keepBackup = false

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

; vim: set ts=2 sw=2 sts=2 noet :
