" 検索するときに大文字小文字を区別しない
set ignorecase
" 検索時に大文字を含んでいたら大/小を区別
set smartcase
" インクリメンタル検索 (検索ワードの最初の文字を入力した時点で検索が開始)
set incsearch
" 検索対象をハイライト
set hlsearch
" 対応する括弧やブレースを表示
set showmatch matchtime=1
" メッセージ表示欄を2行確保
set cmdheight=2
" ステータス行を常に表示
set laststatus=2
" ウィンドウの右下に入力中のコマンドを表示
set showcmd
" 省略されずに表示
set display=lastline
" 行末のスペースを可視化
set listchars=tab:^\ ,trail:~
" ヤンクでクリップボードにコピー
set clipboard+=unnamed
" 対応する括弧を強調表示
set showmatch
" Escの2回押しでハイライト消去
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>
" 行をまたいで移動
set whichwrap=b,s,h,l,<,>,[,],~
" インデント方法の変更
set cinoptions+=:0
" インデント幅
set shiftwidth=2
" タブキー押下時に挿入される文字幅を指定
set softtabstop=2
" 行末の1文字先までカーソルを移動できるように
set virtualedit=onemore
" Surround Vim適用
set surround
" multiple cursor
set multiple-cursor
" Enter + Spaceで空行追加
nmap <Space><CR> o<ESC>
" ヤンクでクリップボードにコピー
map "+y "*y
map "+Y "*Y
map "+p "*p
map "+P "*P
map <C-S-c> "*y
map <C-S-v> "*P
" space + goでオーバーライドメソッドにジャンプ
nmap <Space>go :<C-u>action OverrideMethods<CR>
" spage + dで定義ウィンドウの表示
nmap <Space>d :<C-u>action QuickImplementations<CR>
" spage + bで定義へジャンプ
nmap <Space>b :<C-u>action GotoDeclaration<CR>
" ctrl + {hl}で左右に移動 
imap <C-l> <Right>
imap <C-h> <Left>
" セミコロンをコロンとして解釈
nmap ; :
